.avocado,
.beef,
.butter,
.capers,
.cheese,
.chicken,
.coconut,
.egg,
.female,
.fish,
.forward-female,
.forward-male,
.goat-cheese,
.lamb,
.male,
.milk,
.mushroom,
.nuts,
.olives,
.onions,
.pork,
.seafood,
.veal {
	display: inline-block;
	background: url('~@/assets/images/icons.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left
}

.beef {
	background-position: -2px -854px;
	width: 40px;
	height: 29px
}

.butter {
	background-position: -2px -885px;
	width: 40px;
	height: 32px
}

.cheese {
	background-position: -2px -919px;
	width: 40px;
	height: 26px
}

.fish {
	background-position: -2px -947px;
	width: 40px;
	height: 27px
}

.goat-cheese {
	background-position: -2px -976px;
	width: 40px;
	height: 29px
}

.nuts {
	background-position: -2px -1007px;
	width: 40px;
	height: 21px
}

.coconut {
	background-position: -2px -1030px;
	width: 39px;
	height: 32px
}

.chicken {
	background-position: -2px -1064px;
	width: 37px;
	height: 32px
}

.lamb {
	background-position: -2px -1098px
}

.lamb,
.seafood {
	width: 36px;
	height: 32px
}

.seafood {
	background-position: -2px -1132px
}

.onions {
	background-position: -2px -1166px;
	width: 35px;
	height: 32px
}

.olives {
	background-position: -2px -1234px;
	width: 33px;
	height: 32px
}

.avocado {
	background-position: -2px -1268px
}

.avocado,
.milk {
	width: 32px;
	height: 32px
}

.milk {
	background-position: -2px -1302px
}

.veal {
	background-position: -2px -1336px;
	width: 32px;
	height: 32px
}

.capers {
	background-position: -2px -1370px;
	width: 31px;
	height: 32px
}

.mushroom {
	background-position: -2px -1404px;
	width: 31px;
	height: 32px
}

.egg {
	background-position: -2px -1438px;
	width: 26px;
	height: 32px
}

.female {
	background-position: -2px -1472px;
	width: 22px;
	height: 30px
}

.male {
	background-position: -26px -1472px;
	width: 22px;
	height: 29px
}

.pork {
	background-position: -26px -1503px;
	width: 22px;
	height: 32px
}

.forward-female {
	background-position: -41px -1064px;
	width: 9px;
	height: 15px
}

.forward-male {
	background-position: -41px -1081px;
	width: 9px;
	height: 15px
}


/*!* Bootstrap v3.4.1 (https://getbootstrap.com/)
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)*/


/*!normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css*/

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

nav {
	display: block
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

b,
strong {
	font-weight: 700
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

button,
input {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button {
	text-transform: none
}

button {
	-webkit-appearance: button;
	cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td {
	padding: 0
}


/*!Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css*/

@media print {
	*,
	:after,
	:before {
		color: #000!important;
		text-shadow: none!important;
		background: 0 0!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after {
		content: ""
	}
	img,
	tr {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	.navbar {
		display: none
	}
}

@font-face {
	font-family: Glyphicons Halflings;
	src: url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1);
	src: url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1?#iefix) format("embedded-opentype"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff2?448c34a56d699c29117adc64c43affeb) format("woff2"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff?fa2772327f55d8198301fdb8bcfc8158) format("woff"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.ttf?e18bbf611f2a2e43afc071aa2f4e1512) format("truetype"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg?89889688147bd7575d6327160d64e760#glyphicons_halflingsregular) format("svg")
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #636b6f;
	background-color: #f5f8fa
}

button,
input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #3097d1;
	text-decoration: none
}

a:focus,
a:hover {
	color: #216a94;
	text-decoration: underline
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img {
	vertical-align: middle
}

h1,
h2,
h3 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h1,
h2,
h3 {
	margin-top: 22px;
	margin-bottom: 11px
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

p {
	margin: 0 0 11px
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 11px
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.container:after,
.container:before {
	display: table;
	content: " "
}

.container:after {
	clear: both
}

@media(min-width:768px) {
	.container {
		width: 750px
	}
}

@media(min-width:992px) {
	.container {
		width: 970px
	}
}

@media(min-width:1200px) {
	.container {
		width: 1170px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.row:after,
.row:before {
	display: table;
	content: " "
}

.row:after {
	clear: both
}

.col-lg-4,
.col-md-6,
.col-xs-6,
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col-xs-6,
.col-xs-12 {
	float: left
}

.col-xs-6 {
	width: 50%
}

.col-xs-12 {
	width: 100%
}

@media(min-width:992px) {
	.col-md-6 {
		float: left
	}
	.col-md-6 {
		width: 50%
	}
}

@media(min-width:1200px) {
	.col-lg-4 {
		float: left
	}
	.col-lg-4 {
		width: 33.33333333%
	}
}

table {
	background-color: transparent
}

.form-control {
	display: block;
	font-size: 14px;
	line-height: 1.6;
	color: #555
}

.form-control {
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccd0d2;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.form-control:focus {
	border-color: #98cbe8;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(152, 203, 232, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(152, 203, 232, .6)
}

.form-control::-moz-placeholder {
	color: #b1b7ba;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #b1b7ba
}

.form-control::-webkit-input-placeholder {
	color: #b1b7ba
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.6;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn:focus,
.btn:hover {
	color: #636b6f;
	text-decoration: none
}

.btn.active,
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-primary {
	background-color: #3097d1;
	border-color: #2a88bd
}

.btn-primary:focus {
	color: #fff;
	background-color: #2579a9;
	border-color: #133d55
}

.btn-primary:hover {
	color: #fff;
	background-color: #2579a9;
	border-color: #1f648b
}

.btn-primary:active {
	color: #fff;
	background-color: #2579a9;
	background-image: none;
	border-color: #1f648b
}

.btn-primary:active:focus,
.btn-primary:active:hover {
	color: #fff;
	background-color: #1f648b;
	border-color: #133d55
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 22px;
	border: 1px solid transparent
}

.navbar:after,
.navbar:before {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}

@media(min-width:768px) {
	.navbar {
		border-radius: 4px
	}
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 14px 15px;
	font-size: 18px;
	line-height: 22px
}

.navbar-brand:focus,
.navbar-brand:hover {
	text-decoration: none
}

.navbar-brand>img {
	display: block
}

@media(min-width:768px) {
	.navbar>.container .navbar-brand {
		margin-left: -15px
	}
}

.progress {
	height: 22px;
	margin-bottom: 22px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
	text-align: center;
	background-color: #3097d1;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

@-ms-viewport {
	width: device-width
}

body {
	overflow-x: hidden
}

.btn-female:hover,
.btn-male:hover {
	background: #fff;
	-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .5);
	box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .5)
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #ff3464
}

.btn-primary:focus {
	outline: none!important
}

body {
	font-family: Karla, Arial;
	font-display: swap;
	background: #fff;
	color: #444;
	width: 100%;
	margin: 0
}

.terms-table td {
	padding: 5px
}

.progress-bar {
	width: 100%;
	background: rgba(86, 70, 143, .4)
}

.progress-bar,
.progress-bar .progress {
	height: 5px;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0
}

.progress-bar .progress {
	width: 12.5%;
	background: #56468f
}

.navbar-brand {
	float: none;
	margin: 0 auto;
	text-align: center;
	max-width: 200px;
	display: block
}

@media only screen and (min-width:1025px) {
	.navbar-brand {
		position: relative
	}
}

.navbar-brand>img {
	margin: 0 auto;
	max-height: 45px
}

.fancy-radio {
	border-radius: 9px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 11px -7px rgba(0, 0, 0, .2);
	box-shadow: 0 4px 11px -7px rgba(0, 0, 0, .2);
	opacity: .7;
	cursor: pointer;
	position: relative;
	padding: 20px;
	color: #444;
	font-family: Karla;
	padding-right: 40px;
	font-size: 15px;
	letter-spacing: .51px;
	line-height: 18px;
	margin-bottom: 15px
}

.fancy-radio .status {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	border-radius: 9px 0 0 9px;
	background-color: #e4e5e7;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 30px;
	z-index: 1
}

.fancy-radio .status-icon {
	color: #fff;
	z-index: 2;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px
}

.fancy-radio.active {
	-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
	box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
	color: #ff3464;
	opacity: 1
}

.fancy-radio.active .status {
	background-color: #56468f
}

.fancy-radio.active .status-icon {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -12px
}

.step {
	padding: 10px;
	padding-bottom: 25px
}

.step .question {
	color: #444;
	font-family: Karla;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: .85px;
	line-height: 29px;
	margin-top: 20px;
	margin-bottom: 20px
}

.btn-primary {
	border-radius: 22px;
	text-align: center;
	display: block;
	width: 100%;
	background-color: #ff3464;
	-webkit-box-shadow: 0 4px 11px -2px #ff3464;
	box-shadow: 0 4px 11px -2px #ff3464;
	color: #fff;
	font-size: 20px;
	border: 0;
	font-weight: 700;
	outline: none;
	margin-top: 25px;
	letter-spacing: .68px;
	padding: 12px;
	line-height: 23px
}

.btn-primary.scroll-btn {
	max-width: 250px
}

.units-toggler {
	background: #e4e5e7;
	padding: 25px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	margin-left: -25px;
	width: calc(100% + 50px);
	margin-top: -10px
}

@media only screen and (max-width:640px) {
	.units-toggler {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

.units-toggler .btn {
	border: 1px solid #444;
	opacity: .28;
	width: 43%;
	border-radius: 22px;
	-webkit-box-shadow: 0 4px 11px -2px rgba(68, 68, 68, .3);
	box-shadow: 0 4px 11px -2px rgba(68, 68, 68, .3);
	color: #444;
	font-family: Karla;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .61px;
	line-height: 22px;
	text-align: center;
	outline: none!important;
	padding: 10px;
	margin-right: 5px
}

.units-toggler .btn:last-child {
	margin-right: 0;
	margin-left: 5px
}

@media only screen and (max-width:640px) {
	.units-toggler .btn {
		width: 100%
	}
}

.units-toggler .btn.active {
	color: #ff3464;
	opacity: 1;
	border: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 11px -2px rgba(68, 68, 68, .3);
	box-shadow: 0 4px 11px -2px rgba(68, 68, 68, .3)
}

.input-holder {
	position: relative;
	margin-bottom: 30px
}

.input-holder input {
	width: 100%;
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #e4e5e7;
	opacity: .7;
	color: #444;
	font-size: 15px;
	letter-spacing: .51px;
	line-height: 18px;
	padding: 6px;
	outline: none!important
}

.input-holder input:focus {
	border-bottom: 1px solid #56468f;
	opacity: 1
}

.input-holder .units {
	position: absolute;
	right: 0;
	width: 90px;
	color: #ff3464;
	font-family: Karla;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .51px;
	line-height: 18px;
	text-align: right;
	top: 5px
}

.fancy-radio.with-icon {
	padding-left: 65px
}

.fancy-radio.with-icon .icon {
	max-height: 32px;
	position: absolute;
	top: 50%;
	background-size: contain;
	left: 10px;
	margin-top: -16px;
	height: 40px;
	text-align: center;
	width: 40px
}

.fancy-radio.with-icon .icon i {
	max-width: 100%;
	max-height: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: .43
}

.results-box {
	border-radius: 9px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
	box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
	margin: 0;
	position: relative;
	overflow: hidden;
	height: 100%
}

.btn-back {
	position: absolute;
	left: 10px;
	top: 50%;
	cursor: pointer
}

.subheader {
	overflow: hidden
}

.subheader,
nav {
	display: none
}

.step {
	display: none
}

.step.active {
	display: block
}

#landing {
	background: url('~@/assets/images/landing-bg.jpg') no-repeat;
	background-size: contain;
	background-position: top;
	background-color: #fff;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px
}

.question-description {
	margin-top: -15px;
	margin-bottom: 25px
}

.covered {
	background-color: #ff34640d;
	padding: 25px;
	margin-left: -15px;
	margin-right: -15px
}

.covered .heading {
	opacity: .58;
	color: #444;
	font-family: Lato;
	font-size: 15px;
	letter-spacing: .51px;
	line-height: 18px;
	text-align: center
}

.covered-logos {
	margin-top: 25px
}

.covered-logos {
	text-align: center
}

@media only screen and (min-width:640px) {
	.covered-logos {
		margin-top: 5px
	}
}

.covered img {
	width: 30%;
	margin: 4px;
	max-width: 160px
}

#landing .regular-logo {
	max-width: 125px;
	margin-top: 5px
}

#landing h1 {
	color: #ff3464;
	font-family: Lato;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 1.36px;
	margin-top: 180px;
	display: block;
	max-width: 400px;
	line-height: 46px
}

@media only screen and (max-width:640px) {
	#landing h1 {
		max-width: 250px
	}
}

#landing .gender-description {
	color: #444;
	margin-top: 40px;
	font-family: Lato;
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 700;
	letter-spacing: .68px;
	line-height: 23px
}

.gender-buttons .icon {
	position: absolute;
	display: block;
	left: 15px;
	top: 10px;
	height: 30px
}

.gender-buttons .forward {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px
}

.btn-female {
	-webkit-box-shadow: 0 4px 11px -2px rgba(255, 52, 100, .5);
	box-shadow: 0 4px 11px -2px rgba(255, 52, 100, .5);
	color: #ff3464;
	display: block
}

.btn-female,
.btn-male {
	border-radius: 9px;
	background-color: #fff;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .51px;
	line-height: 18px;
	outline: none!important;
	text-align: center;
	position: relative;
	margin-top: 15px;
	padding: 15px;
	width: 100%
}

.btn-male {
	-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .5);
	box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .5);
	color: #56468f
}

.copyright {
	opacity: .7;
	color: #444;
	font-size: 15px;
	letter-spacing: .51px;
	line-height: 18px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase
}

.links {
	padding: 15px;
	margin-top: 25px
}

.links a {
	opacity: .7;
	color: #444;
	font-size: 15px;
	display: block;
	letter-spacing: .51px;
	line-height: 22px
}

.footer-logo {
	max-width: 115px;
	margin: 40px auto;
	display: block
}

.results-box#meals img {
	padding-top: 35px;
	margin: 10px auto;
	display: block;
	margin-top: 30px
}

#intake .daily-norm {
	color: #56468f;
	font-size: 16px;
	letter-spacing: .81px;
	line-height: 18px;
	font-weight: 400;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 130px
}

#intake .daily-norm span {
	display: block;
	font-weight: 700
}

.cr {
	clear: left
}

.meal-count {
	font-weight: 600;
	text-align: center;
	position: absolute
}

.meal-count {
	width: 120px;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -60px;
	color: #ff3464
}

.meal-count span {
	color: #ff3464;
	text-align: center;
	display: block;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700
}

.error-msg {
	text-align: center;
	margin-top: 25px;
	color: #ff3464;
	display: none
}

#landing .gender-buttons {
	margin-bottom: 30px
}

.btn-female,
.btn-male {
	display: inline-block;
	max-width: 280px
}

.btn-male {
	margin-left: 15px
}

@media only screen and (max-width:640px) {
	.btn-male {
		margin-left: 0
	}
}

.copyright {
	margin-top: 50px
}

.btn-primary.scroll-btn {
	max-width: 250px!important
}

.desktop-container {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	margin-top: 0!important;
	border-radius: 9px;
	background-color: #fff;
	margin-bottom: 50px
}

.desktop-container .container {
	width: 100%
}

.desktop-container .navbar>.container .navbar-brand {
	margin-left: 0!important
}

.summary-container {
	background: url(/images/footer_bg_desktop.jpg) no-repeat!important;
	background-size: contain!important;
	background-position: 100% 108%!important
}

@media only screen and (min-width:1000px) {
	#landing {
		background: url('~@/assets/images/landing-bg-desktop.jpg') no-repeat!important;
		background-size: contain!important;
		width: 100%;
		margin: 0!important;
		padding: 0!important;
		background-position: 100% 0!important
	}
	#my-plan {
		background: url('~@/assets/images/landing-bg-desktop.jpg?v2') no-repeat!important;
		background-size: contain!important;
		width: 100%;
		margin: 0!important;
		padding: 0!important;
		background-position: 100% 0!important
	}
	#my-plan .desktop-container {
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		border-radius: 9px;
		background-color: #fff;
		-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
		box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
		margin-top: 75px!important;
		margin-bottom: 70px
	}
	#landing .container {
		padding: 15px
	}
	#landing h1 {
		margin-top: 120px
	}
	#landing .gender-buttons {
		margin-bottom: 30px
	}
	.btn-female,
	.btn-male {
		display: inline-block;
		max-width: 220px
	}
	.copyright {
		margin-top: 50px
	}
	.covered img {
		width: auto!important;
		margin: 15px
	}
	.btn-primary.scroll-btn {
		max-width: 250px!important
	}
	.desktop-container {
		max-width: 600px;
		margin: 0 auto;
		width: 600px;
		margin-top: 100px!important;
		border-radius: 9px;
		background-color: #fff;
		-webkit-box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
		box-shadow: 0 4px 11px -2px rgba(86, 70, 143, .3);
		margin-bottom: 50px
	}
	.desktop-container .container {
		width: 100%
	}
	.desktop-container .navbar>.container .navbar-brand {
		margin-left: 0!important
	}
	.summary-container {
		width: 100%;
		background: url('~@/assets/images/footer_bg_desktop.jpg?v2') no-repeat!important;
		background-size: contain!important;
		background-position: 100% 108%!important
	}
}

#my-plan {
	overflow-x: hidden;
	width: 100%
}

.plan-lookup {
	font-size: 16px;
	padding: 8px!important;
	margin-top: 15px
}

.plan-recovery .regular-logo {
	max-width: 120px;
	margin-top: 20px
}

.plan-status {
	padding-top: 15px;
	display: none;
	padding-bottom: 15px;
	border-top: 1px dotted #ebebeb;
	margin-top: 15px;
	border-bottom: 1px solid #ebebeb
}

.copyright .disclaimer {
	margin-top: 10px;
	font-size: 12px
}

.summary-container {
	width: 100%;
	background: url(/images/footer_bg_mobile.jpg) no-repeat;
	background-size: contain;
	background-position: 0 100%
}

.b-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: auto
}

@media only screen and (max-width:570px) {
	.b-contacts {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
}

.b-contacts .b-contacts-contacts {
	width: 50%
}

.b-contacts .b-contacts-contacts .text-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.b-contacts .b-contacts-contacts .text-wrapper .col-6:last-child {
	padding-left: 30px
}

.b-contacts .b-contacts-contacts .text-wrapper strong {
	font-weight: 700;
	font-size: 16px;
	margin-top: 10px;
	display: inline-block
}

@media only screen and (max-width:768px) {
	#landing {
		background-position: 0 -35px!important
	}
}

.results-box .e-number {
	color: #ff3464
}

.summary .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.results-2 {
	padding: 0
}

@media only screen and (max-width:640px) {
	.results-2 {
		padding: 10px
	}
}

.results-2 h3 {
	font-size: 32px;
	font-weight: 700;
	color: #ff3464
}

.results-2 .subheading {
	font-size: 25px;
	line-height: 28px;
	font-weight: 700
}

.results-2 .b-result--firstweek {
	max-width: 370px;
	margin-top: 40px
}

.results-2 .b-result--firstweek .b-stats--header {
	padding: 20px;
	padding-bottom: 10px
}

@media only screen and (max-width:640px) {
	.results-2 .b-result--firstweek .b-stats--header {
		padding-bottom: 15px
	}
}

.results-2 .b-result--firstweek .b-stats--footer {
	text-align: center
}

.results-2 .b-result--firstweek .b-stats--footer .e-special {
	font-size: 33px
}

.results-2 .b-result--firstweek .b-stats--footer .e-special span {
	font-size: 75px;
	line-height: 75px
}

.results-2 .b-result--firstweek .b-stats--footer p {
	font-size: 23px;
	text-align: center;
	padding-bottom: 10px;
	margin-top: -5px
}

.results-2 .b-result--weight {
	margin-top: 20px;
	position: relative;
	max-width: 370px
}

.results-2 .b-result--weight .b-stats {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 212px;
	text-align: center
}

.results-2 .b-result--weight .b-stats .b-stats--header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 190px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 27px;
	font-weight: 700;
	color: #ff3464
}

@media only screen and (max-width:380px) {
	.results-2 .b-result--weight .b-stats .b-stats--header {
		padding-top: 6%
	}
}

.results-2 .b-result--weight .b-stats .b-stats--header p {
	margin: 0;
	opacity: .4
}

.results-2 .b-result--weight .b-stats .b-stats--header .e-special {
	font-size: 73px;
	line-height: 73px;
	opacity: 1
}

.results-2 .b-result--weight .b-stats .b-stats--footer {
	font-size: 20px;
	font-weight: 700;
	padding-top: 5px
}

.results-2 .b-result--weight .b-months {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 190px;
	text-align: center;
	top: 41%;
	max-width: 290px;
	margin: auto;
	margin-top: 10px;
	font-size: 20px
}

@media only screen and (max-width:380px) {
	.results-2 .b-result--weight .b-months {
		max-width: 270px;
		margin-top: 0;
		top: 42%
	}
}

@media only screen and (max-width:360px) {
	.results-2 .b-result--weight .b-months {
		top: 40%;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 270px
	}
}

.results-2 .b-result--weight .b-stats--header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.results-2 .b-result--weight .b-stats--header p:last-child {
	margin-right: 10px
}

.results-2 .b-result--weight .b-stats--results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 180px
}

@media only screen and (max-width:380px) {
	.results-2 .b-result--weight .b-stats--results {
		min-height: 160px
	}
}

.results-2 .b-result--weight .b-stats--results .b-stats--results--from,
.results-2 .b-result--weight .b-stats--results .b-stats--results--to {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 33px;
	line-height: 26px
}

.results-2 .b-result--weight .b-stats--results .b-stats--results--from span,
.results-2 .b-result--weight .b-stats--results .b-stats--results--to span {
	font-size: 13px
}

.results-2 .b-result--weight .b-stats--results .b-stats--results--from {
	font-size: 23px;
	margin-left: 0;
	margin-top: 10px
}

@media only screen and (max-width:380px) {
	.results-2 .b-result--weight .b-stats--results .b-stats--results--from {
		margin-top: 0
	}
}

.results-2 .b-result--weight .b-stats--results .b-stats--results--to {
	color: #ff3464;
	margin-top: auto;
	margin-bottom: 10px;
	margin-right: 2px
}

@media only screen and (max-width:360px) {
	.results-2 .b-result--weight .b-stats--results .b-stats--results--to {
		margin-bottom: 30px
	}
}

.results-2 .b-result--text {
	margin-top: 40px;
	max-width: 370px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
}

.results-2 .b-result--text .b-stats--header {
	font-size: 73px;
	font-weight: 700;
	color: #ff3464;
	line-height: 73px
}

.results-2 .b-result--text .b-stats--footer {
	font-size: 23px;
	max-width: 240px;
	margin: auto;
	line-height: 28px;
	padding-top: 10px
}

.results-2 .b-result {
	-webkit-box-shadow: 0 0 11px rgba(86, 70, 143, .29);
	box-shadow: 0 0 11px rgba(86, 70, 143, .29);
	border-radius: 9px
}

.results-2 .b-result .e-special {
	color: #ff3464;
	font-size: 27px;
	font-weight: 700
}

.results-2 .btn-primary.scroll-btn {
	max-width: 370px!important
}

.results-2 .summary {
	margin-top: 40px
}

.results-2 .summary h2 {
	margin-bottom: 20px
}

.results-2 .summary .col-12 {
	margin-bottom: 30px
}

@media only screen and (max-width:640px) {
	.results-2 .summary .col-12 {
		width: 100%
	}
}

.results-2 #bmi .e-row {
	height: 33.33333%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0
}

.results-2 #bmi .e-row:last-child {
	border-bottom: none
}

.results-2 #bmi .e-row .e-value {
	text-transform: uppercase;
	font-size: 23px;
	color: #ff3464;
	display: none
}

.results-2 #bmi .e-row .e-number {
	font-size: 43px;
	font-weight: 700
}

.results-2 #bmi .e-row .e-name {
	font-size: 23px;
	font-weight: 700;
	margin-left: auto
}

.results-2 #bmi .e-row.is-selected {
	background: rgba(86, 70, 143, .1)
}

.results-2 #bmi .e-row.is-selected .e-value {
	display: block
}

.results-2 #intake {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.results-2 #intake img {
	max-width: 250px;
	margin-top: 15px
}

.results-2 #intake .e-heading {
	font-size: 23px;
	padding-top: 15px
}

.results-2 #intake .e-value {
	font-size: 43px;
	font-weight: 700;
	color: #ff3464;
	line-height: 40px
}

.results-2 #intake .e-measurement {
	font-size: 18px
}

.results-2 #intake .daily-norm {
	position: relative;
	top: 0;
	font-size: 43px;
	line-height: 43px;
	color: #ff3464
}

.results-2 #body-parts img {
	max-width: 100%
}

.results-2 #body-parts .e-heading {
	text-align: center;
	font-size: 23px;
	max-width: 200px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 15px;
	line-height: 24px;
	font-weight: 700
}

.results-2 #meals img {
	max-width: 80px;
	margin: auto
}

.results-2 #meals .meal-count {
	margin-top: 10px;
	top: 42%
}

.results-2 #meals .meal-count span {
	font-size: 73px
}

.results-2 #meals p {
	text-align: center;
	font-size: 22px;
	max-width: 180px;
	margin: auto;
	line-height: 26px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-weight: 700
}

.results-2 .covered {
	background-color: rgba(86, 70, 143, .1)
}

.results-2 .b-ourpromise {
	position: relative
}

.results-2 .b-ourpromise img {
	position: absolute;
	max-width: 130px;
	bottom: 10px;
	right: auto;
	left: 200px
}

.results-2 .b-ourpromise h2 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 40px
}

.results-2 .b-ourpromise .e-text {
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	font-family: Karla;
	line-height: 26px
}

.results-2 .b-ourpromise .e-heading {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 20px
}

.results-2 .b-ourpromise .e-subtitle {
	font-size: 20px;
	margin-top: -5px
}

.results-2 .b-blocks-featured {
	padding-top: 10px;
	padding-bottom: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

@media only screen and (max-width:640px) {
	.results-2 .b-blocks-featured {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
}

.results-2 .b-blocks-featured .b-result {
	width: 100%;
	margin-top: 0;
	min-height: 215px
}

@media only screen and (max-width:640px) {
	.results-2 .b-blocks-featured .b-result {
		margin-bottom: 30px
	}
}

@media only screen and (max-width:640px) {
	.results-2 .b-blocks-featured .scroll-btn {
		margin-top: 0
	}
}

@media only screen and (max-width:360px) {
	.results-3 .b-ourpromise img {
		max-width: 90px;
		bottom: 14px
	}
}

.results-3 .covered {
	position: relative
}

.results-3 .covered:before {
	content: "";
	background: url('~@/assets/images/landing-bg-desktop.jpg?v2');
	background-size: contain;
	position: absolute;
	right: -24%;
	height: 600px;
	width: 100%;
	top: -280%;
	z-index: 0;
	opacity: .2
}

@media only screen and (max-width:640px) {
	.results-3 .covered:before {
		display: none
	}
}

.results-3 .covered:after {
	content: "";
	background: url('~@/assets/images/landing-bg-desktop.jpg?v2');
	background-size: contain;
	position: absolute;
	left: -32%;
	height: 600px;
	width: 60%;
	top: -610%;
	z-index: 0;
	opacity: .2;
	background-repeat: no-repeat;
	-webkit-transform: rotate(110deg);
	transform: rotate(110deg)
}

@media only screen and (max-width:640px) {
	.results-3 .covered:after {
		display: none
	}
}

@media only screen and (max-width:640px) {
	.results-3 {
		padding: 0
	}
}

.results-3 .summary-container:before {
	content: "";
	background: url('~@/assets/images/bg-mealplate.png');
	background-size: cover;
	position: absolute;
	right: -10px;
	height: 600px;
	width: 400px;
	top: 0
}

.results-3 .results-box#meals img {
	padding-top: 5px;
	margin-top: -10px
}

.results-3 .subheading {
	font-size: 28px
}

@media only screen and (max-width:640px) {
	.results-3 .subheading {
		font-size: 24px
	}
}

.results-3 .covered-logos {
	margin-top: 17px
}

.results-3 .covered-logos img {
	max-width: 150px;
	margin-left: 5%;
	margin-right: 5%
}

@media only screen and (max-width:1124px) {
	.results-3 .covered-logos img {
		margin-left: 2%;
		margin-right: 2%
	}
}

@media only screen and (max-width:640px) {
	.results-3 .covered-logos img {
		margin-left: 1%;
		margin-right: 1%
	}
}

.results-3 .covered-logos img:nth-child(2) {
	max-width: 220px
}

.results-3 .covered {
	margin-top: 30px
}

.results-3 .covered .heading {
	margin-top: 20px;
	color: #444;
	opacity: 1;
	font-size: 23px;
	font-weight: 300
}

@media only screen and (max-width:640px) {
	.results-3 .covered .heading {
		font-size: 18px
	}
}

.results-3 .container {
	max-width: 830px;
	width: 100%;
	position: relative;
	z-index: 1
}

.results-3 .btn-primary.scroll-btn {
	max-width: 570px!important;
	margin: auto;
	margin-top: 40px
}

@media only screen and (max-width:640px) {
	.results-3 .btn-primary.scroll-btn {
		margin-top: 0
	}
}

.results-3 #intake .e-heading {
	font-weight: 700
}

.results-3 #meals .meal-count {
	position: relative
}

.results-3 #meals .meal-count span {
	font-size: 93px
}

.results-3 #meals p {
	margin-bottom: 30px;
	font-weight: 700;
	margin-top: 55px
}

.results-3 .summary {
	margin-top: 50px
}

@media only screen and (max-width:640px) {
	.results-3 .summary {
		margin-top: 40px
	}
}

@media only screen and (max-width:1124px) {
	.results-3 .summary .col-md-6 {
		width: 50%
	}
}

@media only screen and (max-width:640px) {
	.results-3 .summary .col-md-6 {
		width: 100%
	}
}

.results-3 .summary h2 {
	font-size: 36px;
	margin-bottom: 30px;
	font-weight: 700
}

.results-3 .b-result--weight .b-stats--results .b-stats--results--from {
	margin-top: 1px
}

.results-3 .b-result--text .b-stats--footer {
	margin-top: 15px;
	margin-bottom: 25px
}

.results-3 .b-result--firstweek .b-stats--footer .e-special {
	margin-top: 10px;
	margin-bottom: 10px
}

.results-3 .b-result--firstweek .b-stats--header {
	max-width: 380px;
	padding-top: 10px
}

.results-3 .b-result--firstweek .b-stats--footer .e-special span {
	font-size: 90px
}

.results-3 .b-result--firstweek .b-stats--footer p {
	margin-bottom: 0
}

.results-3 .b-result--text .b-stats--header {
	margin-top: auto;
	font-size: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	line-height: 12px
}

.results-3 .b-result--text .b-stats--header span {
	font-size: 34px
}

.results-3 h3 {
	font-size: 70px;
	max-width: 610px;
	margin-top: 10px
}

@media only screen and (max-width:640px) {
	.results-3 h3 {
		font-size: 38px
	}
}

.results-3 .b-blocks-featured {
	padding-top: 30px
}

@media only screen and (max-width:640px) {
	.results-3 .b-blocks-featured {
		padding-top: 10px
	}
}

.results-3 .b-blocks-featured .b-result--weight {
	margin-bottom: 30px
}

.results-3 .b-blocks-featured .b-result--firstweek,
.results-3 .b-blocks-featured .b-result--text {
	max-width: calc(50% - 15px);
	min-height: 260px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

@media only screen and (max-width:640px) {
	.results-3 .b-blocks-featured .b-result--firstweek,
	.results-3 .b-blocks-featured .b-result--text {
		width: 100%;
		max-width: 100%
	}
}

.results-3 .b-result.b-result--weight {
	max-width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 40px;
	background: #fff
}

@media only screen and (max-width:640px) {
	.results-3 .b-result.b-result--weight {
		margin-bottom: 30px
	}
}

.results-3 .b-result.b-result--weight .b-stats .b-stats--header {
	max-width: 90%;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 10px
}

.results-3 .b-result.b-result--weight .b-stats .b-stats--header p:first-child {
	position: relative
}

.results-3 .b-result.b-result--weight .b-stats .b-stats--header p:first-child:before {
	content: "";
	background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
	top: -20px;
	bottom: -20px;
	width: 80px;
	position: absolute;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	left: -10px
}

.results-3 .b-result.b-result--weight .b-stats .b-stats--header p:last-child {
	position: relative
}

.results-3 .b-result.b-result--weight .b-stats .b-stats--header p:last-child:before {
	content: "";
	background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
	top: -20px;
	bottom: -20px;
	width: 80px;
	position: absolute;
	right: -10px
}

.results-3 .b-result.b-result--weight .b-stats {
	background: #fff;
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 200px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.results-3 .b-result.b-result--weight .b-stats--header {
	padding-top: 15px;
	margin-top: auto;
	margin-bottom: 0;
	max-width: none
}

.results-3 .b-result.b-result--weight .b-stats--header p {
	margin-left: 5%;
	margin-right: 5%
}

.results-3 .b-result.b-result--weight .b-stats--header .e-special {
	margin-left: 5%;
	margin-right: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.results-3 .b-result.b-result--weight .b-stats--header .e-special span {
	font-size: 18px;
	line-height: 12px;
	color: #444;
	font-weight: 300
}

.results-3 .b-result.b-result--weight .b-stats--footer {
	margin-bottom: auto;
	padding-top: 10px;
	font-size: 24px
}

.results-3 .b-result.b-result--weight .b-months {
	position: relative;
	background: rgba(255, 52, 100, .1);
	max-width: 100%;
	margin: 0;
	max-height: none
}

.results-3 .b-result.b-result--weight .b-months:before {
	content: "";
	background: url('~@/assets/images/b-results-graph.png');
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 200px;
	background-size: cover;
	bottom: -5px
}

@media only screen and (max-width:640px) {
	.results-3 .b-result.b-result--weight .b-months:before {
		background-position: 50%
	}
}

.results-3 .b-result.b-result--weight .b-months .b-stats--header,
.results-3 .b-result.b-result--weight .b-months .b-stats--results {
	max-width: 320px;
	margin: auto
}

.results-3 .b-result.b-result--weight .b-months .b-stats--header {
	padding-top: 20px;
	max-width: 335px
}

.results-3 .b-result.b-result--weight .b-months .b-stats--results {
	min-height: 230px;
	padding-bottom: 50px
}

.results-3 .b-result.b-result--weight .b-months .b-stats--results--from {
	position: relative;
	left: 10px
}

@media only screen and (max-width:360px) {
	.results-3 .b-result.b-result--weight .b-months .b-stats--results--from {
		margin-top: 18px
	}
}

.results-3 .b-result.b-result--weight .b-months .b-stats--results--from:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 17px;
	background: #ff3464;
	height: 17px;
	border-radius: 20px;
	top: 50px
}

.results-3 .b-result.b-result--weight .b-months .b-stats--results--to {
	position: relative;
	margin-bottom: 18px
}

@media only screen and (max-width:640px) {
	.results-3 .b-result.b-result--weight .b-months .b-stats--results--to {
		margin-bottom: 15px
	}
}

@media only screen and (max-width:360px) {
	.results-3 .b-result.b-result--weight .b-months .b-stats--results--to {
		margin-bottom: 20px
	}
}

.results-3 .b-result.b-result--weight .b-months .b-stats--results--to:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 17px;
	background: #ff3464;
	height: 17px;
	border-radius: 20px;
	top: 50px
}

.info-slide h3 {
	color: #444;
	font-family: Karla;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: .85px;
	line-height: 29px
}

.info-slide p {
	font-size: 15px
}

.info-slide ul {
	margin-bottom: 10px;
	margin-top: 10px;
	list-style: none;
	padding-left: 0
}

.info-slide ul li {
	line-height: 24px;
	margin-bottom: 10px;
	font-size: 15px
}

.info-slide ul li i {
	font-weight: 900;
	margin-right: 5px;
	color: #56468f
}

@media only screen and (min-width:1025px) {
	.navbar-brand .btn-back+.regular-logo {
		margin-left: 40px
	}
}